/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #005099; /* Fondo azul */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.titulo {
    color: black; /* Título en negro */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contenedor {
    background-color: #666666; /* Fondo gris del cuadro */
    padding: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
}

/* Estilo del formulario */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.campo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: white;
    padding: 15px;
    width: 100%;
}

/* Estilo del icono */
.icono {
    font-size: 1.8em;
    color: black; /* Emoji de persona en negro */
    margin-right: 10px;
}

/* Estilo de los campos de texto */
input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
}

/* Estilo del botón */
button {
    background-color: #005099;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #003d7a; /* Efecto hover en el botón */
}
